{%include 'user_header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<br><br><br><br><br>   
<center>
    <h1>FEEDBACK</h1>

<form action="" method="post">
    <table style="width: 120px;">
        <tr>
            <th>feedback</th>
        </tr>

        <tr>
            <td><input type="text" style="width:600px; height:100px;" name="reviw_desp"></td>
        </tr>

        <tr >
        
            <td align="centre" colspan="2"><input type="submit" class="btn btn-success" name="submit"></td>
        </tr>
    </table>
</form>
<br><br><br><br><br><br>
</center>
</body>
</html>

{%include 'footer.html'%}