{%include 'admin_header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br><br><br>
    <center>
        <h1>View Results</h1>
        <table class="table" style="width: 1200px;">
    <thead class="table-dark">
        <tr style="background-color: rgb(36, 33, 33);">
            <th>Uploaded by</th>
            <th>name</th>
            <th>Image</th>
            <th>Result</th>

        </tr>
    </thead>
    {% for i in data['key'] %}
        <tr> 
            <td>{{i['name']}}</td>
            <td>{{i['name']}}</td>
            <td>
                <img src="{{i['image']}}" alt="" height="300" width="300">
            </td>
            <td>{{i['result']}}</td>
            


        </tr>
    {% endfor %}
    </table>
    </center>
    <br><br><br><br><br><br>
    {%include 'footer.html'%}